<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QBNS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QBNS.Properties.Settings.QLNSConnectionString" connectionString="Data Source=ADMIN\HUYSERVER;Initial Catalog=QLNS;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <QBNS.Properties.Settings>
            <setting name="wait" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>ADMIN\HUYSERVER</value>
            </setting>
            <setting name="DBname" serializeAs="String">
                <value>QLNS</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="passWord" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="unLogIn" serializeAs="String">
                <value />
            </setting>
            <setting name="pwLogIn" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
        </QBNS.Properties.Settings>
    </userSettings>
</configuration>